<div class="article-main-container">
    <div class="article-main-box">
    <h1>お花の管理方法</h1>
    
    </div>
    <section class="wrapper-article">
    <div class="article1-container">
    <div class="container-1">
        <div class="content-1">
            
            <div class="list-1">
                <div class="list-item-1">今回はお花の基本について学んで行きましょう！</div>
                <br>
                
            </div>
            
        </div>
    </div>
    </div>
</section>
    <div class="article-script-box">
        <div class="article-menu-box">
            <ul>
                <li>水揚げとは？</li>
                <li>水切り</li>
                <li>焼きミョウバン</li>
                <li>塩</li>
                <li>酢</li>
                <li>まとめ</li>
            </ul>
        </div>
        <div class="section1">
            <div class="midashi-box">
            <h1>水揚げとは？</h1>
            </div>
            
            <div class="honnbun-box">
            &nbsp; みなさん、お家でお花を飾る場合水を挙げるだけではないですか？お花は水揚げという作業をひと手間加えるだけでとても長持ちするようになります。水揚げをすると、道管に入った空気を出したり傷んだ部分を取ったりして、茎が水を吸収しやすくなります。
            <br>
            &nbsp;今回はお家で簡単にできる水揚げ方法をご紹介します！
            </div>
        </div>
        <div class="section2">
            <h1 class="midashi-box">
            水切り</h1>
            
            <div class="section-2-image-box">
            
            </div>
            <div class="honnbun-box">
             水切りは一番簡単な水揚げ方法です。
            <br>
            方法は水中で軸先を数センチ切るだけです。太い枝などは十字に切り込みを入れると水がよく上がります。
            また、菊などの金っ気を嫌うものは水の中で手で折るとよいです。折ったほうが、ハサミで切るよりも表面積が広くなるので水がよく上がります。
            </div>
        </div>
        <div class="section3">
            <h1 class="midashi-box">
            焼きミョウバン</h1>
            
            
            <div class="honnbun-box">
            ①切り口をライターやバーナーなどで炭化するまで（火が付き黒くなるまで）焼きます。
            <br>
            ②すぐに水に入れます。
            <br>
            <適している花材>
            バラ、アザミ、桔梗、牡丹花ものや、切り口から乳状の液が出てくるもの。
            <br>
            <注意>
            焼くときに、火が葉や花につかないようにしましょう。炭は吸水性があるので炭化した部分を切らないで使います。
            
            </div>
        </div>
        <div class="section4">
            <h1 class="midashi-box">
            塩</h1>
            
            
            <div class="honnbun-box">
            ①切り口に塩を刷り込み、ぬめりを取ります。
            <br>
            ②すぐに水に入れます。
            <br>
            <適している花材>
            ひまわり、アザミなどの切り口にぬめりのある花材。
            
            
            </div>
        </div>
        <div class="section5">
            <h1 class="midashi-box">
            酢</h1>
            
            
            <div class="honnbun-box">
            ①酢に10～15分ほどつける。
            <br>
            
            <br>
            <適している花材>
            藁、イネ科の植物
            <br>
            <注意>つける時間が長過ぎると、酢を吸いすぎてしまい逆にくたっとしてしまいます。酢酸などの強い酸を使う場合は薄めてから使ってください。

            
            
            </div>
        </div>
    </div>
</div>