
<%= link_to "ホームに戻る", hello_index_path, class: 'btn btn-info' %>
<section class="wrapper-a">
    <div class="link-container">
    <div class="container-a">
        <div class="content-a">
            <h2 class="heading-a">Vaseの使い方</h2>
            <div class="list-a">
                <div class="list-item-a">コチラのページではVaseの使用方法について書いてあります。初めての方はこのページを参考にまずはアカウント作成をしてみましょう。</div>
                
            </div>
        </div>
    </div>
    </div>
</section>
<div class="box27-container">
<div class="box27">
    <span class="box-title">トップページ</span>
    <p>トップページ</p>
</div>
<div class="box27">
    <span class="box-title">新規登録方法</span>
    <p>新規登録方法</p>
</div>
<div class="box27">
    <span class="box-title">投稿を見る</span>
    <p>投稿を見る</p>
</div>
<div class="box27">
    <span class="box-title">投稿をする</span>
    <p>投稿をする</p>
</div>
<div class="box27">
    <span class="box-title">マイページ</span>
    <p>マイページ</p>
</div>
</div>