

<%= link_to "ホームに戻る", hello_index_path, class: 'btn btn-info' %>
<section class="wrapper-b">
    <div class="article-show-container">
    <div class="container-b">
        <div class="content-b">
            <h2 class="heading-b">Article</h2>
            <div class="list-b">
                <div class="list-item-b">コチラのページでは定期的に発信されるお花に関する情報記事を読むことができます。気になる内容をぜひチェックしてみてください。</div>
                
            </div>
        </div>
    </div>
    </div>
</section>
<div class="card-container">
<div class="card card-skin">
  <div class="card__imgframe1"></div>
  <div class="card__textbox">
    <div class="card__titletext">
      梅雨明けのお花　2020.08.10
    </div>
    <div class="card__overviewtext">
    <%= link_to "この記事を読む", hello_article1_path, class: 'btn btn-info' %>
    </div>
  </div>
  
</div>
<div class="card card-skin">
  <div class="card__imgframe2"></div>
  <div class="card__textbox">
    <div class="card__titletext">
      夏のお花の手入れ方法　2020.08.12
    </div>
    <div class="card__overviewtext">
    <%= link_to "この記事を読む", hello_index_path, class: 'btn btn-info' %>
    </div>
  </div>
  
</div>
</div>