/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
 
 *{
    padding: 0;
    margin: 0;
    font-family: serif;
} 
  
  .event-image {
    width: 20%;
    height: 20%;
  }

  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  header {
    background-color: white;
    height: 80px;
    width: 100vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  
  header a {
    color: gray; 
    text-decoration: none; 
  }
  header h1 {
    color: gray;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  
  h1 {
    float: left;
    padding: 10px 0;
  }
  h1 a {
      display: block;
      width: 64px;
      height: 69px;
      font-size: 0;
      background: url("../images/logo.jpeg") left top/64px auto no-repeat;
  }
  .search_container{
    box-sizing: border-box;
  }
  .search_container input[type="text"]{
    border: 1px solid #999;
    padding: 3px 5px;
    border-radius: 20px;
    height: 2.0em;
    width: 245px;
    overflow: hidden;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: gray;
    outline : none;
    display: inline-block;
    vertical-align: middle;
  }
  
  .pagination>li>a {          
    border: none;     /*枠線をなくす*/
    color: #696969;   /*文字の色を変える*/
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 15px;    /*角を丸くする*/
  }

  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }