.wrapper-b{
    width:100%;
    background-image:url(article.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}
.wrapper-b .article-show-container{
    height: 100%;
  background: rgba(255,255,255,0.6);
}
.wrapper-b .container-b{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
.wrapper-b .content-b .heading-b{
    margin:0px 0px 40px 0px;
    color:black;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    font-family: serif;
}
@media (min-width: 992px) {
    .wrapper-b .content-b .list-b {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper-b .content-b .list-item-b {
    padding:30px;
    line-height:1.8rem;
    color:black;
    text-align:center;
    font-family: serif;
    font-size: 20px;
}
@media (min-width: 992px) {
    .wrapper-b .content-b .list-item-b {
        width:50%;
    }
}
.list-b{
    background-color: white;
    border: double 5px #4ec4d3;
}

.card{
    width: 288px;
    height: auto;
  }
  
  .card__imgframe1{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(article2.jpg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }
  .card__imgframe2{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(season2.jpg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
  }
  .card__textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
  }
  
  .card__textbox > * + *{
    margin-top: 10px;
  }
  
  .card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
    font-family: serif;
  }
  
  .card__overviewtext{
    font-size: 12px;
    line-height: 150%;
  }

  .card-skin{
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    margin-top: 10px;
    margin-bottom: 10px;

  }
.card-container{
    margin: 50px auto;
	width: 70%;
	border: solid darkcyan;
    border-radius: 10px;
    box-shadow: 0 10px 10px #666666;
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	width: 70vw;
}
