// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
    padding: 0;
    margin: 0;
  }
  
  .top_image-container{
      background-image: url(top-image.jpg);
      background-size: cover;
      width: 100%;
      height: 900px;
      
     
       
  }
 .top-container{
     margin-top: 500px;

 }
  .sub-container{
      width: 1258px;
      height: 192px;
      left: 0px;
      top: 193px;
       margin-left: 100px;
      background:rgba(236, 250, 244, 0.49);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  p{
      font-family: "Cambria";
      font-size: 80px;
      display: flex;
      justify-content: center;
        vertical-align: middle;

      text-align: center;
     
  }
  
  .scroll{
      height: 150px;
      color: black;
      width: 100%;
  }
  
  .cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
  }
  .cp_arrows {
      position: relative;
      display: flex;
      height: 300px;/*画面いっぱいにする場合100vh*/
      margin: 2em auto;
      justify-content: center;
      align-items: center;
  }
  .cp_arrows .cp_arrow {
      position: absolute;
      top: 50%;/*着地点（サンプルは[class:cp_arrows]height300pxの50%）*/
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      opacity: 0;
  }
  .cp_arrows .cp_arrowfirst {
      -webkit-animation: arrow-move08 2s ease-in-out infinite;
              animation: arrow-move08 2s ease-in-out infinite;
  }
  .cp_arrows .cp_arrowsecond {
      -webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
              animation: arrow-move08 2s 1s ease-in-out infinite;
  }
  .cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 3px;
      content: '';
      background: darkcyan;
  }
  .cp_arrows .cp_arrow:before {
      -webkit-transform: rotate(30deg) translateX(-39%);
              transform: rotate(30deg) translateX(-39%);
      -webkit-transform-origin: top left;
              transform-origin: top left;
  }
  .cp_arrows .cp_arrow:after {
      -webkit-transform: rotate(-30deg) translateX(39%);
              transform: rotate(-30deg) translateX(39%);
      -webkit-transform-origin: top right;
              transform-origin: top right;
  }
  @-webkit-keyframes arrow-move08 {
      0% {
          top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
          opacity: 0;
      }
      70% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  @keyframes arrow-move08 {
      0% {
          top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
          opacity: 0;
      }
      70% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  h2{
      margin-left: auto;
      margin-right: auto;
      font-family: "Cambria";
      font-size: 40px;
      
  }
  
  .fixed-bg {
      height: 500px;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center
    }
  
    
   .fixed-bg-content h2 {
      font-family: "Cambria";
      font-size: 80px;
      
  }
  
  
  .scroll-bg{
      height: 500px;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center
  }
  
  .bg-color02{
      height: 500px;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center
  
  }
  
  #scroll-bg-content{
      text-align: center;
      justify-content: center;
      align-items: center;
  }
 
  
  #scroll-bg-content p {
     
     display: flex;
      font-size: 1.2rem;
      font-weight: normal;
      line-height: 1.8;
      text-align: center;
      background-color:  rgba(81, 154, 123, 0.37);
      padding: 20px;
      justify-content: center;
  }
  
    .bg01 {
      margin-top: 5px;
      background-image: url(reef_1.png);
      opacity: 0.5;
    }
     
    .bg02 {
      background-image: url(white_1.png);
      opacity: 0.5;
    }
  
    .bg03 {
      background-image: url(reef2.png);
      opacity: 0.5;
    }
    .bg04{
      background-image: url(himawari.png);
      opacity: 0.5;
    }
  
  .bg-color04{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      text-align: center;
  }
 


  #page-box{
      display: flex;
      text-align: center;
      margin-left: 45%;
      margin-right: 45%;
  }
  .tweet{
      text-align: center;
      margin: 10px;
      
      
  }
  .tweet-image-box{
      margin: 5px;
      img{
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
      }
      
  }

  .tweet-image-box:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
    opacity: 0.6;
  }
.season-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.spring-box{
    img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  180px;       /* ※縦横を同値に */
        height: 180px;       /* ※縦横を同値に */
        width: 133px;
        height: 133px;
        left: 254px;
        top: 127px;
        
    }
    margin-left: 5px;
    margin-right: 5px;
}   
.spring-box:hover {
    img{
    transform: scale(1.2);
    transition-duration: 0.5s;
    
  }
  .spring-title{
    opacity: 1;
    transition:all 0.6s ease;
  }

}

.summer-box{
    img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  180px;       /* ※縦横を同値に */
        height: 180px;       /* ※縦横を同値に */
        width: 133px;
        height: 133px;
        left: 254px;
        top: 127px;
    }
    margin-left: 5px;
    margin-right: 5px;
}
.summer-box:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
    
  }
.autumn-box{
    img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  180px;       /* ※縦横を同値に */
        height: 180px;       /* ※縦横を同値に */
        width: 133px;
        height: 133px;
        left: 254px;
        top: 127px;
        
    }
    margin-left: 5px;
    margin-right: 5px;
}
.autumn-box:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
    
  }
.winter-box{
    img{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  180px;       /* ※縦横を同値に */
        height: 180px;       /* ※縦横を同値に */
        width: 133px;
        height: 133px;
        left: 254px;
        top: 127px;
        
    }
    margin-left: 5px;
    margin-right: 5px;
}
.winter-box:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
    
  }

        




